@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem vindo à @ViewBag.Subtitulo </h1>
<hr>
<h2 class="text-secondary">Sobre a empresa:</h2>
<h4 class="text-secondary">
    Lorem ipsum dolor sit amet 
    consectetur adipisicing elit. Perspiciatis quam voluptates quas. 
    Cumque enim quam blanditiis. Atque voluptatem saepe, error, ipsum nam 
    cum praesentium porro voluptatum consectetur explicabo ipsa magnam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odit voluptate 
    illum vel, modi a quae deleniti explicabo quod laudantium distinctio omnis! 
    Accusantium quasi earum dolor nostrum excepturi nam vel!
    Lorem ipsum dolor sit amet 
    consectetur adipisicing elit. Perspiciatis quam voluptates quas. 
    Cumque enim quam blanditiis. Atque voluptatem saepe, error, ipsum nam 
    cum praesentium porro voluptatum consectetur explicabo ipsa magnam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odit voluptate 
    illum vel, modi a quae deleniti explicabo quod laudantium distinctio omnis! 
    Accusantium quasi earum dolor nostrum excepturi nam vel!
</h4>


